@font-face
{
	font-family: Ubuntu;
	src: url("../fonts/Ubuntu-L.ttf");
}
body{
	font-family: Ubuntu;
}
.logo-div img{
	margin-right: 5%;
	width: 100px;
}
.nav-ul{
	margin-top: 1.5%%;
}

.nav-ul li{
	font-size: 20px;
	font-family: Ubuntu;
	list-style: none;
	text-align: center;
	padding-bottom: 20px;
}

.header-container{
	margin-top: 7%;
	background-color: rgb(111, 168, 48);
	height: 62px;
	/*position: fixed;*/
	width: 100%;
	top: 0px;
	z-index: 100;
}
.logo-div{
	color: white;
	margin-left: 10% !important;
	margin-top: -5% !important;
}
.nav-ul li:hover{
	/*border-bottom: 2px solid white;*/
	color: white;
}
.active{
	/*border-bottom: 2px solid white;	*/
	color: white;
}
.footer-container{
}
.copy-right-msg{
	color: #aaaaaa;
	font-size: 13px;
	margin-top: 5.5%;
}
.copy-right-p{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.page-links-footer{
	font-size: 17px;
	color: #555;
}
.page-links-footer ul li{
	cursor: pointer;
	float: left;
	list-style: none;
	margin-left: 10%;
}
.footer-content{
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
}
.footer-sub{
	background-color: #231f20;
	height: 150px;
}
.social-site-links img{
	margin-left: 5%;
}
.footer-img{
	background-image: url("../imgs/footer-img.png");
    background-repeat: no-repeat;
    background-size: 100% 150px;
    height: 150px;
}
.we-li:hover{
	background-color: rgb(111, 168, 48) !important;
	box-shadow: 1px 2px 3px rgb(111, 168, 48) !important;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
	border-bottom: 0px;
}
.we-li ul{
		position: absolute;
		z-index: 1000;
		background-color: white;
		margin: 0;
		/*rgb(111, 168, 48);*/
}
.dropdown-menu{
	border-radius: 0px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 0px;
}
.we-are-drop{
	width: 230px;
	color: rgb(111, 168, 48);
}
.we-are-drop li{
	text-align: left;
	border-bottom: 2px solid white;
	padding: 10px;
	font-size: 16px;
}
.we-are-drop li:hover{
	background-color: rgb(111, 168, 48);
	color: white;
}
.desc2 a:hover{
	color: rgb(111, 168, 48);
	text-decoration: none;
}
.desc2 a{
	font-size: 15px;
	text-decoration: underline;
	font-weight: bold;
}
.we-are-drop{
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 1;
	background: #444;
	background: linear-gradient(#444, #111);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);
	border-radius: 3px;
	transition: all .2s ease-in-out;
}
ul.we-are-drop>li:after {
content: '';
position: absolute;
left: 40px;
top: -6px;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #444;
}
.nav-ul li{
	cursor: pointer;
}