@font-face
{
font-family: Ubuntu;
src: url(../fonts/Ubuntu-L.ttf);
}
.subscribe-image{
	display: none !important;
}
.western-ghats-container{
	margin-top: 5%;
}
.home-bottom-content{
	font-size: 16px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	line-height: 28px;
    word-spacing: -2px;
    border: 2px solid #ccc;
	border-radius: 6px;
	padding: 21px;
}
.homeslider{
	/*z-index: 1000;*/
	border-bottom: 5px solid white;
	position: absolute;
	width: 100%;
}
.desc1{
	border-left:1px solid #aaa;
	float: right !important;
	margin-top: 8%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: justify;
	width: 65%;
}
.desc2{
	border-right:1px solid #aaa;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: justify;
	width: 65%;
	margin-top:9%;
}
.desc3{
	border-left:1px solid #aaa;
	float: right !important;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: justify;
	width: 65%;
}
.img1{
	margin-top: 0%;
}
.img2{
	float: right !important;
}
.home-bottom-content .row-fluid{
	margin-top: 5%;
}
.above-bottom{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 37%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 6%;
	padding-bottom: 7%;
	background-color: white;
}
.homeslider li{
	width: 200px;
}
.home-container{
	margin-top: -0.2%;
}
.contact-div{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.contact-sub-div{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 85%;
}
.contact-sub-div textarea{
	padding: 4px 6px;
	height: 145px;
}
.reach-us{
	background-repeat: no-repeat;
	font-size: 25px;
	height: 50px;
}
.location-map{
	background-color: #bbb;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin-top: 3%;
	min-height: 200px;
}
.form-btns-div{
	margin-top: 5%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.contact-form{
	// width: 35%;
	margin-left: auto;
	margin-right: auto;
}
.btn-sub-div{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.reset-btn{
	margin-left: 7%;
}
.submit-btn{
	margin-left: 5%;
}
.contact-branch-address{
	margin-top: 15%;
}
.contact-here h3{
	color: #666;
}
.contact-head-address, .contact-branch-address{
	// border-right: 2px solid #dadada;
}
.contact-here{
	background-repeat: no-repeat;
	margin-top: 7%;
}
.popover{
	color: #0000ff;
	font-size: 14px;
	width: 10%;
}
.about-sub{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 85%;
}
.about-left-side{
	background-color: #ededed;
	text-align: center;	
}
.we-are-container{
	margin-top: 5%;
}
.about-right-side{
	background-color: #ededed;
	text-align: center;
}
.about-img{
	/*background-color: #ededed;*/
	background-image: url("../imgs/we-are.png");
	background-repeat: no-repeat;
	background-position: center;
	/*box-shadow: 0px 2px 5px;*/
	margin-bottom: 5%;
	height: 287px;
	text-align: center;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}
.footer-active{
	/*background-image: url("../imgs/footer-link-bg.png");*/
	background-repeat: no-repeat;
	border-radius: 2px;
	padding: 4px;
	color: #999;		
}
.about-us-desc-div p{
	font-size: 16px;
	text-align: justify;
	text-indent: 40px;
}
.c-text{
	margin-top: 3%;
	/*border: 1px solid transparent;*/ 
}
.ghats-content{
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	width: 85%;
	text-align: justify;
}
.ghats-content h3, .above-bottom h3, .reach-us h3{
	margin-left: auto;
	margin-right: auto;
	/*text-align: center;*/
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	color: grey;
}
.ghats-content div{
	margin-top: 3%;
}
.western-slider-sub{
	margin-left: auto;
	margin-right: auto;
	/*width: 57%;*/
}
.western-ghats-slider{
	background-color: white;
}
.western-sliders{
	width: 71%;
	padding-left: 2%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	height: 200px;
	border-radius: 10px;
	padding-top: 2%;
	margin-bottom: 7%;
}
.nameL{
	display: inline-block;
	margin-left: 3%;
	color: red;
}
.im-star{
	display: inline-block;
	color: red;
}
.error-border{
	border: 1px solid red !important;
}

.rightContent{
	float: right;
	width: 10%;
	margin-top: 9%;
	border-left: 1px solid #aaa;
}
/* Full Sceen Background*/


html, body {
  height: 100%;
  width: 100%;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}

/*End-of Full Sceen Background*/

.content-table{
	margin-top: 7%;
}
.western-ghats-sub{
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}
.weather-div{
	margin-top: 20%;
}